.bundle
db/*.sqlite3
tmp/
bin/
.sass-cache/
.DS_Store
._*.*
.*.sw*
.rvmrc
.envrc
.env
config/database.yml
config/namely_orgs.yml
Thumbs.db

log/
design/
public/assets
public/system
public/javascripts
public/images
public/fonts
public/stylesheets
public/email

solr/data
solr/pids

doc/*.svg

rails_best_practices_output.html
fse-out.log

a.log
b.log
zeus.json

lib/tasks/crawl.rake

dump.rdb
.rdb
erd.pdf

node_modules/
app/assets/components/*

rspec.failures
coverage/
tags
